@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "formulario.css";
@import "historia.css";
@import "header.css";
@import "footer.css";
@import "inicio.css";
@import "servicio.css";
@import "contact.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root{
  --primary-color: #081525;
  --text-color: #fefefe;
  --light-gray: #f7f7f7;
  --accent-color:#282b42;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #081525;
}

video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}